{% extends 'base2.html' %}
{% load static %}

{% block content %}
<!-- Hero section -->
<section class="hero-section">
  <div class="hero-slider owl-carousel">
    <div class="hs-item set-bg" data-setbg="{%static 'img/bg.jpg'%}">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7 text-white">
            <span>New Arrivals</span>
            <h2>denim jackets</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan
              lacus vel facilisis. </p>
            <a href="#" class="site-btn sb-line">DISCOVER</a>
            <a href="#" class="site-btn sb-white">ADD TO CART</a>
          </div>
        </div>
        <div class="offer-card text-white">
          <span>from</span>
          <h2>$29</h2>
          <p>SHOP NOW</p>
        </div>
      </div>
    </div>
    <div class="hs-item set-bg" data-setbg="{%static 'img/bg-2.jpg'%}">
      <div class="container">
        <div class="row">
          <div class="col-xl-6 col-lg-7 text-white">
            <span>New Arrivals</span>
            <h2>denim jackets</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan
              lacus vel facilisis. </p>
            <a href="#" class="site-btn sb-line">DISCOVER</a>
            <a href="#" class="site-btn sb-white">ADD TO CART</a>
          </div>
        </div>
        <div class="offer-card text-white">
          <span>from</span>
          <h2>$29</h2>
          <p>SHOP NOW</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="slide-num-holder" id="snh-1"></div>
  </div>
</section>
<!-- Hero section end -->

















<!-- Features section -->
<section class="features-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 p-0 feature">
        <div class="feature-inner">
          <div class="feature-icon">
            <img src="{%static 'img/icons/1.png'%}" alt="#">
          </div>
          <h2>Fast Secure Payments</h2>
        </div>
      </div>
      <div class="col-md-4 p-0 feature">
        <div class="feature-inner">
          <div class="feature-icon">
            <img src="{%static 'img/icons/2.png'%}" alt="#">
          </div>
          <h2>Premium Products</h2>
        </div>
      </div>
      <div class="col-md-4 p-0 feature">
        <div class="feature-inner">
          <div class="feature-icon">
            <img src="{%static 'img/icons/3.png'%}" alt="#">
          </div>
          <h2>Free & fast Delivery</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Features section end -->




{% include 'includes2/LATEST_PRODUCTS.html' %}

{% include 'includes2/TOP_SELLING.html' %}


<!-- Banner section -->
<section class="banner-section">
  <div class="container">
    <div class="banner set-bg" data-setbg="{%static 'img/banner-bg.jpg'%}">
      <div class="tag-new">NEW</div>
      <span>New Arrivals</span>
      <h2>STRIPED SHIRTS</h2>
      <a href="#" class="site-btn">SHOP NOW</a>
    </div>
  </div>
</section>
<!-- Banner section end  -->





{% endblock %}